* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "B Yekan";
}

html{
    font-size: 62%;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    filter: drop-shadow(10px);
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #100a90;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

nav a{
    font-size: 1.8rem;
    color: #fff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #45da0a;
    border-bottom: 3px solid #fff;
}